@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
.head {
  width: 1549px;
  height: 926px;
  margin: 0 0 0 12.5px;
  padding: 92px 106px 38px 88.5px;
  opacity: 0.99;
  background-color: #eff0f2;
}
.headLogo {
  width: 113px;
  height: 46px;
  margin: 0 76.5px 97.5px 0;
  display: flex;
  border: solid 3px;
  border-color: black;
  animation: 3s spin infinite;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
.headLogo__name {
  width: 85px;
  text-shadow: 0 0 1px rgba(21, 21, 22, 0.75);
  font-family: Montserrat;
  font-size: 17px;
  line-height: 1.65;
  letter-spacing: 1.02px;
  text-align: center;
  color: #000000;
}
.headLogo__name_color_blue {
  font-size: 21px;
  letter-spacing: 0.63px;
  color: #77efe5;
}
.headText {
  display: flex;
  justify-content: center;
  align-items: center;
}
.headText__color__blue {
  width: 127.5px;
  height: 27px;
  opacity: 0.7;
  background-color: #76f4ea;
  color: #000000;
  text-shadow: 2px 4.1px 5px rgba(0, 0, 0, 0.932);
}
.headText__top {
  width: 960px;
  height: 33px;
  position: absolute;
  margin-top: 70px;
  text-shadow: 1.8px 4.1px 5px rgba(0, 0, 0, 0.24);
  font-family: Montserrat;
  font-size: 45px;
  font-weight: bold;
  line-height: 1.2;
  letter-spacing: 1.35px;
  color: #505050;
  text-align: center;
  z-index: 9999;
  opacity: 1;
}

.menu__btn {
  display: inline-flex; /* используем flex для центрирования содержимого */
  align-items: flex-start; /* центрируем содержимое кнопки */
  position: relative;
  margin-left: 1550px;
  margin-top: -800px;
  top: 20px;
  left: 20px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
}
#menu__toggle {
  position: absolute;
  margin-top: 20px;
  opacity: 0;
}
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 30px;
  height: 2px;
  background-color: #242121;
  transition: all 1s ease;
}
.menu__btn > span::before {
  content: "";
  top: -8px;
}
.menu__btn > span::after {
  content: "";
  top: 8px;
}
.menu__box {
  display: block;
  position: relative;
  visibility: hidden;
  top: -5px;
  left: -100%;
  width: 280px;
  height: 626px;
  margin: -70px 0 0 1374px;
  padding: 120px 0;
  list-style: none; /*убираем точки и цифры li ul ol*/
  text-align: center;
  background: -moz-linear-gradient(
    left,
    rgba(30, 87, 153, 1) 0%,
    rgba(125, 185, 232, 0) 100%
  );
  background: -webkit-linear-gradient(
    left,
    rgba(30, 87, 153, 1) 0%,
    rgba(125, 185, 232, 0) 100%
  );
  background: linear-gradient(
    to right,
    rgba(30, 87, 153, 1) 0%,
    rgba(125, 185, 232, 0) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#007db9e8',GradientType=1 );

  box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
}

.menu__item {
  display: block;
  padding: 12px 24px;
  color: #333;
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  font-weight: 100;
  text-decoration: none;
  text-shadow: 1px 1px 3px rgb(15, 14, 14);
}
.menu__item:hover {
  background-color: #cfd8dc;
}
#menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(45deg);
  transition: all 1s ease;
}
#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  transform: rotate(0);
  transition: all 1s ease;
}
#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
  transition: all 1s ease;
}
#menu__toggle:checked ~ .menu__box {
  visibility: visible;
  left: 0;
}

.head__button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button_rectangle {
  width: 232px;
  height: 53px;
  margin-top: -590px;
  opacity: 0.7;
  border-radius: 1px;
  border: solid 1px #000000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button__rectangleText {
  width: 232px;
  height: 53px;
  opacity: 1;
  font-family: Montserrat;
  font-size: 18px;
  line-height: 1;
  letter-spacing: 1px;
  text-align: center;
  color: rgba(0, 0, 0, 0.75);
  outline: none;
}
.about_conteiner {
  width: 1476px;
  height: 985px;
  /* position: absolute; */
  margin-left: 20px;
  padding: 64.5px 101px 56.5px 104px;
  background-color: #f8fafa;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.about_conteinerText {
  width: 280px;
  height: 14px;
  text-transform: uppercase;
  opacity: 1;
  position: absolute;
  margin: 0px 0 0 120px;
  font-family: Montserrat;
  font-size: 38px;
  font-weight: bold;
  line-height: 0.74;

  color: rgba(0, 0, 0, 0.9);
}
.about_conteinerText__lorem {
  width: 790px;
  height: 7.5px;
  position: absolute;
  margin: 60px 112px 73.5px 170px;
  opacity: 0.9;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.56;
  letter-spacing: 1px;
  text-align: center;
  color: rgba(0, 0, 0, 0.62);
  text-transform: uppercase;
}
.about_conteiner_columPicture {
  width: 100%;
  height: 483px;
  margin: 220px 50px 50px 0;
  position: relative;
  display: flex;
  justify-content: space-between;
}
.about_conteiner_columPictureComputer {
  width: 392px;
  height: 483px;
  background-image: url(../img/table.png);
  z-index: 99999;
  margin-left: -790px;
}
.about_conteiner_columPictureComputer_rectangle {
  width: 479px;
  height: 412px;
  margin: 30px 0 0 230px;
  background-color: #1f242e;
}
.about_conteiner_columPictureText {
  width: 392px;
  height: 483px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.about_conteiner_columPictureText_one {
  width: 406px;
  height: 17px;
  opacity: 1;
  position: relative;
  margin-left: -220px;
  margin-top: 25px;
  font-family: Merriweather;
  font-size: 20px;
  font-weight: bold;
  line-height: 1.4;
  letter-spacing: 1.2px;
  text-align: left;
  color: rgba(0, 0, 0, 0.75);
  text-transform: uppercase;
}
.about_conteiner_columPictureText_two {
  width: 474px;
  height: 212px;
  margin-top: 25px;
  margin-left: -220px;
  opacity: 1;
  font-family: Raleway;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.75;
  letter-spacing: 0.5px;
  text-align: left;
  color: rgba(0, 0, 0, 0.74);
}
.about_conteiner_columPictureText_three {
  width: 406px;
  height: 17px;
  opacity: 1;
  padding-left: 10px;
  margin-left: -220px;
  margin-top: 25px;
  font-family: Merriweather;
  font-size: 20px;
  font-weight: bold;
  line-height: 1.4;
  letter-spacing: 1.2px;
  text-align: left;
  color: rgba(0, 0, 0, 0.75);
  text-transform: uppercase;
}
.about_conteiner_columPictureText_four {
  width: 474px;
  height: 212px;
  margin-top: 25px;
  opacity: 1;
  font-family: Raleway;
  margin-left: -220px;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.75;
  letter-spacing: 0.5px;
  text-align: left;
  color: rgba(0, 0, 0, 0.74);
}
.featured-works {
  width: 1574px;
  height: 250px;
  background-color: #ffffff;
  text-align: center;
  display: flex;
  justify-content: center;
}
.feature-works__text {
  width: 601px;
  height: 28px;
  font-size: 40px;
  margin: 130px 48px 17px 321px;
  opacity: 0.9;
  font-family: Montserrat;
  font-size: 38px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.74;
  letter-spacing: 2.28px;
  text-align: left;
  color: rgba(0, 0, 0, 0.9);
  text-align: center;
  text-transform: uppercase;
}
.feature-works__textLorem {
  opacity: 0.9;
  font-family: Merriweather;
  font-size: 17px;
  line-height: 1.65;
  letter-spacing: 1.02px;
  text-align: center;
  color: rgba(0, 0, 0, 0.62);
}
.featured_img {
  width: 1150px;
  height: 750px;
  padding: 10px;
  margin: 153px 0 0 350px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}
.featured-works__imgOne {
  width: 370px;
  height: 359px;
  background-image: url(../img/icecream.png);
}
.featured-works__imgTwo {
  width: 370px;
  height: 359px;
  background-image: url(../img/businessCard.png);
}
.featured-works__imgThree {
  width: 370px;
  height: 359px;
  background-image: url(../img/ceramic.png);
}
.featured-works__imgFour {
  width: 370px;
  height: 359px;
  background-image: url(../img/book.png);
}
.featured-works__imgFive {
  width: 370px;
  height: 359px;
  background-image: url(../img/9.png);
}
.featured-works__imgSix {
  width: 370px;
  height: 359px;
  background-image: url(../img/healingTea1.png);
}
.ourServices {
  width: 1217px;
  height: 28px;
  margin: 249px 48px 17px 351px;
  opacity: 0.9;
  font-family: Montserrat;
  font-size: 38px;
  font-weight: bold;
  line-height: 0.74;
  letter-spacing: 2.28px;
  text-align: center;
  color: rgba(0, 0, 0, 0.9);
  text-transform: uppercase;
}
.ourServices__text-span {
  width: 583px;
  height: 14px;
  margin: 16px 278px 123px 279px;
  opacity: 0.8;
  font-family: Merriweather;
  font-size: 17px;
  text-align: center;
  line-height: 1.65;
  letter-spacing: 1.02px;
}

.ourServices__picture {
  width: 1180px;
  height: 1270px;
  position: absolute;
  margin: 10px 0 0 0px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
}
.ourServices__pictureOne {
  width: 652px;
  height: 422px;
  background-color: #6df6eb;
  margin: 50px 66px 38px 10px;
  font-family: Merriweather;
  font-size: 20px;
  position: relative;
  font-weight: bold;
  line-height: 1.45;
  letter-spacing: 1.2px;
  text-align: left;
  color: rgba(0, 0, 0, 0.83);
}
.ourServices__pictureOne_textOne {
  position: absolute;
  margin: 50px 66px 38px 60px;
}
.ourServices__pictureOne_text {
  width: 470px;
  height: 156px;
  position: absolute;
  margin: 90px 66px 38px 60px;
  font-family: Raleway;
  font-size: 16px;
  line-height: 1.75;
  letter-spacing: 0.4px;
  text-transform: none;
  text-align: left;
  color: rgba(0, 0, 0, 0.75);
}
.ourServices__pictureTwo {
  width: 474px;
  height: 422px;
  opacity: 1;
  background-image: url(../img/coolPsd.png);
  position: relative;
  margin-top: 45px;
  margin-left: -60px;
}
.picTwo__rectangle {
  width: 474px;
  height: 422px;
  background-color: black;
  opacity: 0.6;
  position: relative;
}
.ourServices__pictureOne_textTwo {
  width: 312px;
  height: 90px;

  font-size: 20px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  margin: 190px 0 0 -220px;
}
.textOurTwo {
  width: 340px;
  opacity: 1;
  font-family: Raleway;
  font-size: 16px;
  position: absolute;
  margin-top: 20px;
  margin-left: -115px;
  font-weight: normal;
  line-height: 1.56;
  letter-spacing: 0.32px;
  text-align: left;
  text-transform: none;
  color: rgba(255, 255, 255, 1);
}
.knowMore {
  opacity: 1;
  font-family: Raleway;
  font-size: 18px;
  position: absolute;
  margin-top: 120px;
  margin-left: -115px;
  font-weight: normal;
  line-height: 1.56;
  letter-spacing: 0.32px;
  text-align: left;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 1);
}
/* Add animation to div */
.overImg__hoverTwo {
  width: 478px;
  height: 428px;
  opacity: 0;
  background-color: #6df6eb;
  position: relative;
  margin-top: -354px;
  margin-left: -59px;
}
.overImg__hoverTwo:hover {
  opacity: 1;
  z-index: 9999;
  transition: all 1s ease;
}
.picTwo__rectangle:hover {
  width: 474px;
  height: 422px;
  opacity: 1;
  transition: all 1s ease;
  /* end animation to div */
}
.ourServices__pictureThree {
  width: 652px;
  height: 422px;
  opacity: 1;
  position: relative;
  margin: -20px 0 0 5px;
  background-color: #000000;
  background-image: url(../img/computer.png);
}
.picThree__rectangle {
  width: 652px;
  height: 422px;
  background-color: black;
  opacity: 0.8;
  position: relative;
}
.ourServices__pictureThree_textThree {
  width: 275px;
  height: 17px;
  position: absolute;
  margin: 160px 0 27px -255px;
  opacity: 0.95;
  font-family: Merriweather;
  font-size: 20px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.45;
  letter-spacing: 1px;
  text-align: left;
  color: rgba(255, 255, 255, 0.95);
}
.ourServices__pictureThree_textThreeSpan {
  width: 426px;
  height: 38px;
  margin: 17px 138px 55px 0;
  opacity: 0.9;
  font-family: Raleway;
  font-size: 16px;
  position: absolute;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.56;
  letter-spacing: 0.32px;
  text-align: left;
  color: rgba(255, 255, 255, 0.9);
  text-transform: none;
}
.knowMoreThree {
  position: absolute;
  margin-top: 100px;
  font-size: 18px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 4.72;
  letter-spacing: 0.72px;
  text-align: center;
  color: rgba(249, 251, 251, 0.9);
  opacity: 0.9;
  font-family: Raleway;
}
/* Add animation to div */
.overImg__hoverThree {
  width: 654px;
  height: 424px;
  opacity: 0;
  background-color: #6df6eb;
  position: relative;
  margin-top: -424px;
}
.overImg__hoverThree:hover {
  opacity: 1;
  z-index: 9999;
  transition: all 1s ease;
}
.picThree__rectangle:hover {
  width: 474px;
  height: 422px;
  opacity: 1;

  transition: all 1s ease;
  /* end animation to div */
}
.ourServices__pictureFour {
  width: 474px;
  height: 422px;
  opacity: 1;
  background-color: #000000;
  background-image: url(../img/table2.png);
}
.picFour__rectangle {
  width: 474px;
  height: 422px;
  position: relative;
  margin: -20px 0 0 5px;
  background-color: black;
  opacity: 0.8;
  position: relative;
}
.ourServices__pictureFour_textFour {
  width: 275px;
  height: 17px;
  position: absolute;
  margin: 160px 0 27px -185px;
  opacity: 0.95;
  font-family: Merriweather;
  font-size: 20px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.45;
  letter-spacing: 1px;
  text-align: left;
  color: rgba(255, 255, 255, 0.95);
}
.ourServices__pictureFour_textFourSpan {
  width: 336px;
  height: 38px;
  opacity: 0.9;
  font-family: Raleway;
  font-size: 16px;
  position: absolute;
  margin: 20px 0 0 0;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.56;
  letter-spacing: 0.32px;
  text-align: left;
  color: rgba(255, 255, 255, 0.9);
  text-transform: none;
}
.knowMoreFour {
  position: absolute;
  margin-top: 100px;
  font-size: 18px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 4.72;
  letter-spacing: 0.72px;
  text-align: center;
  color: rgba(249, 251, 251, 0.9);
  opacity: 0.9;
  font-family: Raleway;
}
/* Add animation to div */
.overImg__hoverFour {
  width: 498px;
  height: 428px;
  opacity: 0;
  background-color: #6df6eb;
  position: relative;
  margin-top: -422px;
}
.overImg__hoverFour:hover {
  opacity: 1;
  z-index: 9999;
  transition: all 1s ease;
}
.picFour__rectangle:hover {
  width: 474px;
  height: 422px;
  opacity: 1;

  transition: all 1s ease;
  /* end animation to div */
}

.ourServices__pictureFive {
  width: 474px;
  height: 422px;
  opacity: 1;
  position: relative;
  margin: 0 0 0 0;
  background-color: #000000;
  background-image: url(../img/bottle.png);
}
.picFive__rectangle {
  width: 474px;
  height: 422px;
  background-color: black;
  opacity: 0.8;
  position: relative;
}
.ourServices__pictureSix {
  width: 652px;
  height: 422px;
  opacity: 1;
  position: relative;
  margin: 0 0 0 0;
  background-color: #000000;

  background-image: url(../img/cup.png);
}
.picSix__rectangle {
  width: 652px;
  height: 422px;
  background-color: black;
  opacity: 0.8;
  position: relative;
}
/* Add animation to div */
.overImg__hoverFive {
  width: 478px;
  height: 424px;
  opacity: 0;
  background-color: #6df6eb;
  position: relative;
  margin-top: -422px;
}
.overImg__hoverFive:hover {
  opacity: 1;
  z-index: 9999;
  transition: all 1s ease;
}
.picFive__rectangle:hover {
  width: 474px;
  height: 422px;
  opacity: 1;

  transition: all 1s ease;
  /* end animation to div */
}
.hoverText_uppercase {
  width: 652px;
  height: 422px;
  margin: -50px 0 0 0px;
  font-family: Merriweather;
  font-size: 20px;
  position: absolute;
  font-weight: bold;
  line-height: 1.45;
  letter-spacing: 1.2px;
  text-align: left;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.83);
}

.overImg_textHoverTwo {
  width: 300px;
  height: 157px;
  position: absolute;
  margin: 100px 0 0 50px;
  font-family: Raleway;
  font-size: 16px;
  line-height: 1, 2;
  text-transform: none;
  letter-spacing: 0.4px;
  text-align: left;
  color: rgba(0, 0, 0, 0.75);
}
.hoverText_uppercaseThree {
  width: 652px;
  height: 422px;
  margin: -50px 0 0 0;
  font-family: Merriweather;
  font-size: 20px;
  position: absolute;
  font-weight: bold;
  line-height: 1.45;
  letter-spacing: 1.2px;
  text-align: left;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.83);
}
.overImg_textHoverThree {
  width: 300px;
  height: 250px;
  position: absolute;
  margin: 100px 0 0 -250px;
  font-family: Raleway;
  font-size: 16px;
  line-height: 1.75;
  letter-spacing: 0.4px;
  text-transform: none;
  text-align: left;
  color: rgba(0, 0, 0, 0.75);
}

.hoverText_uppercaseFour {
  width: 652px;
  height: 422px;
  margin: -30px 0 0 0px;
  font-family: Merriweather;
  font-size: 20px;
  position: absolute;
  font-weight: bold;
  line-height: 1.45;
  letter-spacing: 1.2px;
  text-align: left;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.83);
}

.overImg_textHoverFour {
  width: 300px;
  height: 250px;
  margin: 70px 0 0 -200px;
  position: absolute;
  font-family: Raleway;
  font-size: 16px;
  line-height: 1.75;
  letter-spacing: 0.4px;
  text-transform: none;
  text-align: left;
  color: rgba(0, 0, 0, 0.75);
}
.hoverFive {
  width: 300px;
  height: 250px;
  position: absolute;
  margin: 70px 0 0 -200px;
  font-family: Raleway;
  font-size: 16px;
  line-height: 1.75;
  letter-spacing: 0.4px;
  text-transform: none;
  text-align: left;
  color: rgba(0, 0, 0, 0.75);
}
.uppercaseFive {
  width: 652px;
  height: 422px;
  margin: -30px 0 0 0px;
  font-family: Merriweather;
  font-size: 20px;
  position: absolute;
  font-weight: bold;
  line-height: 1.45;
  letter-spacing: 1.2px;
  text-align: left;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.83);
}
.uppercaseSix {
  width: 652px;
  height: 422px;
  margin: -50px 0 0 0;
  font-family: Merriweather;
  font-size: 20px;
  position: absolute;
  font-weight: bold;
  line-height: 1.45;
  letter-spacing: 1.2px;
  text-align: left;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.83);
}
.hoverSix {
  width: 300px;
  height: 250px;
  position: absolute;
  margin: 100px 0 0 -250px;
  font-family: Raleway;
  font-size: 16px;
  line-height: 1.75;
  letter-spacing: 0.4px;
  text-transform: none;
  text-align: left;
  color: rgba(0, 0, 0, 0.75);
}

a {
  color: white;
}
.human {
  width: 1150px;
  height: 70px;
  position: relative;
  margin: 220px 20px 20px 20px;
  margin-top: 200px;
  opacity: 0.9;
  font-family: Montserrat;
  font-size: 38px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.74;
  letter-spacing: 2.28px;
  text-align: center;
  color: rgba(0, 0, 0, 0.9);
}
.humanText {
  opacity: 0.8;
  font-family: Merriweather;
  font-size: 17px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.65;
  letter-spacing: 1.02px;
  text-align: center;
  color: rgba(0, 0, 0, 0.62);
}
.humanPhoto {
  width: 1150px;
  height: 900px;
  display: flex;
  margin: 120px 0px 0px 0px;
  justify-content: space-between;
  flex-wrap: wrap;
}
.humanOne {
  width: 370px;
  height: 440px;
  background-image: url(../img/people1.png);
}
.humanTwo {
  width: 370px;
  height: 440px;
  background-image: url(../img/people2.png);
}
.humanThree {
  width: 370px;
  height: 440px;
  background-image: url(../img/people3.png);
}
.humanFour {
  width: 370px;
  height: 440px;
  background-image: url(../img/people4.png);
}
.humanFive {
  width: 370px;
  height: 440px;
  background-image: url(../img/people5.png);
}
.humanSix {
  width: 370px;
  height: 440px;
  background-image: url(../img/people6.png);
}
.whatTheySay {
  width: 1476px;
  height: 923px;
  margin-top: 50px;
  margin-left: -150px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.whatTheySay__rectangle {
  width: 393px;
  height: 362px;

  background-color: #ecedef;
  border-radius: 5px;
}

.whatTheySay__photoMan {
  width: 319px;
  height: 410px;

  background-image: url(../img/people3.png);
  margin-left: 30px;
  margin-top: -20px;
}

.whatTheySay__text {
  width: 666px;
  height: 410px;

  border-radius: 3px;
  background-color: #eaebed;
}

.whatTheySay__textLogo {
  margin-top: 1150px;
  opacity: 1;
  font-family: Merriweather;
  font-size: 38px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.65;
  letter-spacing: 1.02px;
  color: #000000;
}
.textLogo {
  opacity: 0.7;
  font-family: Merriweather;
  font-size: 17px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.65;
  letter-spacing: 1.02px;
  text-align: center;
  color: rgba(0, 0, 0, 0.62);
}
.rayhan {
  width: 295px;
  height: 18px;
  opacity: 0.95;
  font-family: Merriweather;
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.87;
  letter-spacing: 0.9px;
  text-align: center;
  margin: 120px 0 0 -150px;
  position: absolute;
}
.al {
  font-size: 18px;
  color: black;
  font-weight: bold;
}
.rayhanText {
  width: 630px;
  height: 100px;
  opacity: 0.7;
  position: absolute;
  margin: 20px 0 0 -300px;
  font-family: Raleway;
  font-size: 16px;
  line-height: 1.3;
  letter-spacing: 0.77px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  text-align: center;
  color: rgba(0, 0, 0, 0.7);
}
.logoMenu {
  width: 1130px;
  height: 172px;
  background-image: url(../img/logo.png);
  opacity: 0.7;
  position: absolute;
  margin: -70px 0 0 228px;
  background-color: white;
  z-index: 9999;
}
.winterLogo {
  width: 1534px;
  height: 963px;
  opacity: 0.8;
  margin: 0 0 0 -100px;
  background-image: url(../img/trees.png);
}
.divHead {
  border: 1px solid black;
  width: 614px;
  height: 460px;
  position: absolute;
  margin: 330px 0 0 110px;
  opacity: 0.9;
  box-shadow: 0 0 30px 0 rgba(21, 21, 21, 0.12);
  background-color: #021623;
}

.divName {
  width: 240px;
  height: 45px;
  border: 1px solid #021623;
  box-shadow: inset 2px 2px 5px rgba(19, 17, 15, 0.5);
  border-radius: 1px;
  background-color: #021623;
  position: absolute;
  margin: 20px 0 0 -285px;

  padding-left: 10px;
  color: rgba(255, 255, 255, 0.6);
}
.rectangleName {
  width: 550px;
  height: 1px;
  margin: 17px 0 30px;
  position: absolute;
  margin: 65px 0 0 31px;
  background-color: #ffffff;
  opacity: 0.9;
}

.divName:focus {
  outline: none;
}

.divPass {
  width: 240px;
  height: 45px;
  border: 1px solid #021623;
  box-shadow: inset 2px 2px 5px rgba(19, 17, 15, 0.5);
  border-radius: 1px;
  background-color: #021623;
  position: absolute;
  margin: 80px 0 0 -285px;

  padding-left: 10px;
  color: rgba(255, 255, 255, 0.6);
}
.rectanglePass {
  width: 550px;
  height: 1px;
  margin: 17px 0 30px;
  position: absolute;
  margin: 120px 0 0 31px;
  background-color: #ffffff;
  opacity: 0.6;
}
.divPass:focus {
  outline: none;
}
.divEmail {
  width: 240px;
  height: 45px;
  border: 1px solid #021623;
  box-shadow: inset 2px 2px 5px rgba(19, 17, 15, 0.5);
  border-radius: 1px;
  background-color: #021623;
  position: absolute;
  margin: 135px 0 0 -285px;
  padding-left: 10px;
  color: rgba(255, 255, 255, 0.6);
}
.rectangleEmail {
  width: 550px;
  height: 1px;
  margin: 17px 0 30px;
  position: absolute;
  margin: 180px 0 0 31px;
  background-color: #ffffff;
  opacity: 0.6;
}
.divEmail:focus {
  outline: none;
}
.divMessage {
  width: 240px;
  height: 45px;
  border: 1px solid #021623;
  box-shadow: inset 2px 2px 5px rgba(19, 17, 15, 0.5);
  border-radius: 1px;
  background-color: #021623;
  position: absolute;
  margin: 195px 0 0 -285px;
  padding-left: 10px;
  color: rgba(255, 255, 255, 0.6);
}
.rectangleMessage {
  width: 550px;
  height: 1px;
  margin: 17px 0 30px;
  position: absolute;
  margin: 330px 0 0 31px;
  background-color: #ffffff;
  opacity: 0.6;
}
.divMessage:focus {
  outline: none;
}

h5 {
  font-size: 15px;
  text-align: center;
  color: white;
}

.letPhone {
  width: 294px;
  height: 53px;
  font-family: Montserrat;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.56;
  letter-spacing: 2.16px;
  position: absolute;
  color: rgba(0, 0, 0, 0.7);
  margin: 370px 0 0 -271px;

  padding: 10px 37px;
  border-radius: 2px;
  background-color: #6eeee4;
  text-align: center;
}
.map {
  border: 1px solid black;
  width: 500px;
  height: 461px;
  position: absolute;
  margin: 330px 0 0 790px;
  opacity: 0.9;
  box-shadow: 0 0 30px 0 rgba(21, 21, 21, 0.12);
  background-color: #021623;
}
.info {
  width: 213px;
  height: 159px;
  opacity: 0.8;
  position: absolute;
  text-transform: none;
  margin: 36px 0 0 30px;
  font-family: Raleway;
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  color: rgba(255, 255, 255, 0.7);
}
.mapImg {
  opacity: 1;
  width: 455px;
  height: 224px;
  background-image: url(../img/map.png);
  position: absolute;
  margin: 550px 0 0 815px;
}
.footer {
  width: 1476px;
  height: 316px;
  background-color: #000000;
  position: absolute;
  margin: 933px 0 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer__followus {
  width: 150px;
  height: 12px;
  margin: 0 10px 19px;
  opacity: 1;
  font-family: Raleway;
  position: absolute;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.56;
  letter-spacing: 0.16px;
  text-align: left;
  color: rgba(255, 255, 255, 0.8);
}
.footer__followus-lastText {
  width: 442px;
  height: 16px;

  opacity: 0.7;
  font-family: Raleway;
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.56;
  letter-spacing: 0.16px;
  text-align: center;
  color: rgba(255, 255, 255, 0.4);
  margin: 150px 0 0 0;
}
.headGlass {
  width: 90px;
  height: 90px;
  background-image: url(../img/blueGlass.png);
  background-repeat: no-repeat;
  position: relative;
  margin: -350px 0 0 1172px;
}
.humanTwo_rectangle {
  width: 335px;
  height: 241px;
  opacity: 0.98;
  box-shadow: 2.7px 6.4px 16px 0 rgba(20, 20, 21, 0.18);
  background-color: #6df6eb;
  position: absolute;
  margin: 185px 0 0 20px;
}
.humanTwo_rectangle__mini {
  width: 30px;
  height: 30px;
  transform: rotate(45deg);
  position: absolute;
  margin: -10px 0 0 30px;
  background-color: #6df6eb;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.humanTwo_rectangle_text {
  width: 295px;
  height: 18px;
  opacity: 0.95;
  font-family: Merriweather;
  font-size: 20px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.87;
  letter-spacing: 0.9px;
  text-align: center;
  color: black;
}
.ui {
  font-size: 15px;
  font-weight: normal;
  letter-spacing: 1.2px;
  color: rgba(120, 120, 120, 0.95);
}
.humanTwo_rectangle_text_lorem {
  width: 264px;
  height: 70px;
  opacity: 0.9;
  font-family: Raleway;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.2;
  letter-spacing: 0.16px;
  text-align: left;

  color: rgba(0, 0, 0, 0.8);
}
